.App {
  text-align: center;
}


.lugares{
  display: none;
}
.lugaresvisible{
  display: block ;
}
.align-bot{
  text-align: right;
}
.align-bot button{margin-top: -35px; width: 100px;}
/*FORMULARIO DE VIAJE*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 5px;
  width: 100%;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin: 0 5px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  opacity: 0.8;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
