.App {
  text-align: center;
}

.choose{
  display: grid;
    grid-template-columns: 10% 40% 10% auto;
}
.lugares{
  display: none;
}
.lugaresvisible{
  display: block ;
}
.align-bot{
  text-align: right;
}
.align-bot button{margin-top: -35px; width: 100px;}
/*FORMULARIO DE VIAJE*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: auto;
  border: solid 1px;
  padding: 30px 25px 5px;
  background-color: #5e79cf;
}

label {
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 5px;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin: 0 5px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  opacity: 0.8;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* medias-querys */

/* Media query para dispositivos móviles pequeños (smartphones) pantalla de alrededor de 480px */
@media (max-width: 480px) {
  /* estilos para dispositivos móviles pequeños */
  .responsive{display: block; margin: auto;}
  .chooseresp{grid-template-columns: 1fr 1fr;}
  form{width: auto;}
  .align-bot {text-align: center;margin-top: 10px;}
  }
  
  /* Media query para móviles más grandes (tablets)  */
  @media (max-width: 768px) {
  /* estilos para dispositivos móviles más grandes */
  }
  
  /* Media query para pantallas de escritorio con una anchura mínima de pantalla de alrededor de 1024px: */
  @media (min-width: 1024px) {
  /* estilos para pantallas de escritorio */
  }
